<!--<div class="col s3">
  <div class="card" appHover>
    <div class="card-image">
      <img src="https://materializecss.com/images/sample-1.jpg">
      <span class="card-title" [ngClass]="{'marked' : isMarked}">
        {{user.name | uppercase}}</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a
        (click)="onClick()"
        class="waves-effect waves-light btn">Mark</a>
    </div>
  </div>
</div>-->

<!--<div class="card" style="width:400px">
  <img class="card-img-top" src="" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{user.firstName | uppercase}}</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>-->

<div class="card col s3">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="../../../resources/logo.jpg" style="max-width: 250px">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    <p><a href="#">This is a link</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
    <p>Here is some more information about this product that is only revealed once clicked on.</p>
  </div>
</div>
