<!--<div class="col s3">
  <div class="card" appHover>
    <div class="card-image">
      <img src="https://materializecss.com/images/sample-1.jpg">
      <span class="card-title" [ngClass]="{'marked' : isMarked}">
        {{user.name | uppercase}}</span>
    </div>
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-action">
      <a
        (click)="onClick()"
        class="waves-effect waves-light btn">Mark</a>
    </div>
  </div>
</div>-->

<div class="card" style="width:400px">
  <img class="card-img-top" src="img_avatar1.png" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">{{user.name | uppercase}}</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
